@import url(../../../stylesheets/application.css);

body{ color:#303030; background:rgb(230,231,232); }

p { font-size: 14px; font-family: Calibri;}
#content { background: #fff; margin-left: 50px; margin-bottom: 50px; border-style: solid; border-width: 20px; border-color: rgb(230,231,232); border-bottom: 0px; }
#wrapper { background:rgb(230,231,232); }
#footer { display: none; }
#main.nosidebar { background-color: rgb(67,68,69); padding-left: 70px;}

input[type='text'] { outline: none; border-radius: 10px; border-color: rgb(230,231,232); border-style: solid; padding-left: 5px; padding-right: 5px; background-color: rgb(230,231,232); }
input[type='submit']:hover { background-color: rgb(230,231,232); border-style: solid; border-radius: 5px; border-color: transparent; }
input[type='submit'] { background-color: rgb(247,162,49); border-style: solid; border-radius: 5px; border-color: transparent; }

#content a { color: rgb(168,168,168) !important; text-decoration: none !important; }
#content a:hover { color: rgb(247,162,49) !important; text-decoration: none !important; }

#spl { background-image: url(../images/spl2.png); width: 245px; height: 2px; }
#butDel { background: url(../images/admin_button_del.png); width: 170px; height: 31px; border: none; color: transparent; }
#butSend { background: url(../images/send_button.png); width: 170px; height: 31px; border: none; color: transparent;}
#butTest { background: url(../images/admin_button_test.png); width: 170px; height: 31px; border: none; color: transparent; }
#butShowResult { background: url(../images/admin_button_show_result.png); width: 170px; height: 31px; border: none; color: transparent; }
#butDelQ { background: url(../images/admin_button_del_q.png); width: 170px; height: 31px; border: none; color: transparent; }
#butAddQ { background: url(../images/admin_button_add_q.png); width: 170px; height: 31px; border: none; color: transparent; }
#top-menu { font-size: 80%; background-color: #578bb8; height: 0px}
#top-menu a { font-weight: bold; }
#header { background-color: rgb(67,68,69); height:5.8em; padding: 10px 0 0 0; height: 30px; }
#header h1 { margin-left: 6px; background: url(../images/tercomin.png) no-repeat; color: transparent; margin-top: 10px; }
#quick-search { margin-right: 6px; }
#main-menu { background-color: #578bb8; left: 0; border-top: 1px solid #fff; width: 100%; height: 0px}
#main-menu li { margin: 0; padding: 0; height: 0px}
#main-menu li a { background-color: #578bb8; border-right: 1px solid #fff; font-size: 90%; padding: 4px 8px 4px 8px; font-weight: bold; height: 0px}
#main-menu li a:hover { background-color: #80b0da; color: #ffffff; height: 0px}
#main-menu li a.selected, #main-menu li a.selected:hover { background-color: #80b0da; color: #ffffff; height: 0px}

#footer a { color: #fff; font-weight: bold; }

#main { font:90% Verdana,Tahoma,Arial,sans-serif; background: #e8eaec; }
#main a { font-weight: bold; color: #467aa7;}
#main a:hover { color: #2a5a8a; text-decoration: underline; }
#content .tabs ul { bottom:-1px; }

h2, h3, h4, .wiki h1, .wiki h2, .wiki h3 { border-bottom: 0px; color: rgb(240,77,79); font-family: Calibri,"Times New Roman"; }
h2, .wiki h1 { letter-spacing:-1px; }
h4 { border-bottom: dotted 1px #c0c0c0; }

#top-menu a.home, #top-menu a.my-page, #top-menu a.projects, #top-menu a.administration, #top-menu a.help { 
    background-position: 0% 40%;
    background-repeat: no-repeat;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    height: 0px;
}

#quick-search { display: none; }

#top-menu { width: 100%; z-index: 1; position: absolute;  left: 130px; top: 0px; padding-top: 4px; height: 0px; background: rgb(230,231,232); margin-left: -10px; margin-top: -5px; background-image: url(../images/sub_menu.png); background-repeat: repeat-x; background-position: bottom; }
#top-menu a { font-size: 13pt; color: rgb(168,168,168) no-repeat; text-decoration: none; height: 20px; }
#top-menu a:hover { background: url(../images/button.png) no-repeat; color:rgb(247,162,49) !important; padding-bottom: 60px; height: 0px;}
#top-menu a.home { display: none; color:rgb(168,168,168); }
#top-menu a.my-page { color:rgb(168,168,168); display: none; }
#top-menu a.my-account { position: fixed; left: 87%; }
#top-menu a.projects { display: none; color:rgb(168,168,168); }
#top-menu a.administration { color:rgb(168,168,168); }
#top-menu a.help { display: none; color:rgb(168,168,168); }
#top-menu a.logout { position: fixed; left: 98%; margin-right: -25px;  padding-bottom: 26px; color: transparent; background: url(../images/exit.png) no-repeat; }
#top-menu a.logout:hover { padding-bottom: 26px; color: transparent !important; background: url(../images/exit.png) no-repeat; }
#top-menu a.questions { display:none; color:rgb(168,168,168); margin-left: -6px; height:0px}
#top-menu a.questions.selected { background: url(../images/button.png) no-repeat; color:rgb(247,162,49) !important; padding-bottom: 60px; height: 0px;}
#top-menu a.register { display: none; }
#top-menu a.login { display: none; position: fixed; left: 96%; height: 0px;}

#loggedas { display: none; }

#login-form table { border: none; background-color: transparent; }
#login-form a:hover { color: rgb(247,162,49); text-decoration: none; }
#login-form a { color: rgb(168,168,168); }
#password { outline: none; border-radius: 10px; border-color: rgb(230,231,232); border-style: solid; padding-left: 5px; padding-right: 5px; background-color: rgb(230,231,232); }
#username { outline: none; border-radius: 10px; border-color: rgb(230,231,232); border-style: solid; padding-left: 5px; padding-right: 5px; background-color: rgb(230,231,232); }
